---
import ExperienceItem from "./ExperienceItem.astro";

const SampleText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum"

const EXPERIENCE = [
    {
        date: "March 2025",
        title: "Data Engineer − Freelance",
        description: SampleText.slice(0, 300),
        img: "public/freelance.png"
    },
    {
        date: "November 2022",
        title: "Data Engineer − Medida",
        description: SampleText.slice(50),
        link: "/",
        img: "public/medida.jpeg"
    },
    {
        date: "February 2022",
        title: "Data Scientist − Medida",
        description: SampleText,
        link: "/",
        img: "public/medida.jpeg"
    },
    {
        title: "Profesor − Universidad de Sevilla",
        date: "September 2022",
        description: SampleText.slice(0, 250),
        link: "/",
        img: "public/us.png"
    },
    {
        date: "September 2020",
        title: "Data Scientist − Piperlab",
        description: SampleText.slice(30),
        link: "/",
        img: "/public/piperlab.jpeg"
    },
];
---

<ol class="relative border-s border-gray-400 ml-4">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
